:root {
  --logo-web-color: #4d5ae5;
  --primary-font: "Roboto", sans-serif;
  --sekondary-font: "Raleway", sans-serif;
  --akcent-color: #404bbf;
  --icon-color-svg: #f4f4fd;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  color: #ffffff;
  display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ..........................HEADER.......................... .*/
.top-header-in {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-left: 0;
  padding-right: 0;
}
.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.top-nav {
  display: flex;

  align-items: center;
}

.nav-container {
  display: flex;
}
.logo {
  margin-right: 76px;
}
.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  justify-content: flex-end;
}
.address-item:nth-child(1) {
  margin-right: 40px;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-item {
  display: inline-block;
}
.web {
  font-family: var(--sekondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-color);
}

.studio-header {
  font-family: var(--sekondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.studio-actual {
  position: relative;
  color: var(--akcent-color);
}
.studio-actual::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}
.portfolio-actual {
  position: relative;
  color: var(--akcent-color);
}
.portfolio-actual::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mail,
.phone-number {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color var(--transition);
}
.mail:hover,
.mail:focus {
  color: var(--akcent-color);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--akcent-color);
}

.menu-item {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color var(--transition);
}
.menu-item:hover,
.menu-item:focus {
  color: var(--akcent-color);
}

/* ..........................MAIN.......................... */

.section-1 {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.btn:is(:hover, :focus) {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.btn-in:is(:hover, :focus) {
  background: var(--akcent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background var(--transition), box-shadow var(--transition),
    border-radius var(--transition), color var(--transition);
}
.btn-in {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  margin-top: 48px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background var(--transition), box-shadow var(--transition),
    color var(--transition);
}
.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
/* .modal {
  display: block;
  position: absolute;
width: 408px;
height: 576px;
left: 516px;
top: 88px;
  background: #FCFCFC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
justify-items: center;
} */
.main-content-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow-y: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--logo-web-color);
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.box-link-over {
  position: relative;
  overflow: hidden;
}
.box-link:hover .overlay,
.box-link:focus .overlay {
  transform: translate(0, 0);
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  padding: 24px 100px;
}
.section-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-list {
  display: flex;
  justify-content: center;
}
.list-advantages {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.list-advantages:not(:last-child) {
  margin-right: 24px;
}
.box-link {
  display: block;
  transition: box-shadow var(--transition);
}

.box-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition), border var(--transition),
    border-top var(--transition);
}
.main-container:hover,
.main-container:focus {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-top: none;
}
.main-list-2 {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 500px;
  text-align: center;
}
.title-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-title {
  margin-bottom: 8px;
  padding-right: 49px;
  padding-left: 49px;
  text-align: center;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.team-soc-link:is(:hover, :focus) {
  background-color: var(--akcent-color);
}
.team-soc-icon {
  fill: var(--icon-color-svg);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  margin-bottom: 8px;
}
.title-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  justify-content: center;
}
.devices {
  padding-bottom: 120px;
}
.box-img:not(:last-child) {
  margin-right: 24px;
}
.list-img {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list:not(:last-child) {
  margin-right: 24px;
}
.team-list {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-txt {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-team {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}
.list-content {
  display: flex;
}
.company {
  padding-top: 120px;
  padding-bottom: 120px;
}
.comp-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 24px;
}
.comp-item {
  width: calc((100% - 156px) / 6);
  height: 88px;
}
.comp-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comp-icon {
  fill: #8e8f99;
  transition: border-color var(--transition), fill var(--transition);
}
.comp-link:is(:hover, :focus) {
  border-color: var(--akcent-color);
}
.comp-link:is(:hover, :focus) .comp-icon {
  fill: var(--akcent-color);
}
.company-title {
  margin-bottom: 72px;
}

/* ..........................FOOTER.......................... */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-flex {
  display: flex;
  gap: 120px;
  align-items: baseline;
}
.studio-foot {
  font-family: var(--sekondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.foot-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  margin-top: 16px;
}
.social-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: var(--icon-color-svg);
}

/* ..........................BACKDROP.......................... */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background var(--transition);
}
.modal-close-btn-icon {
  width: 8px;
  height: 8px;
  transition: fill var(--transition);
}
.modal-close-btn:is(:hover, :focus) {
  background-color: var(--akcent-color);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}
